{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<h2 align="center">Register</h2>
<form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
    <br><br>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}