@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
    background: url('/static/images/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}
html { 
  
}
.shadow {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.content {
    width: 968px;
    background: none repeat scroll 0% 0% #222326;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
    padding: 2%;
    margin-bottom: 20px;
}
.start-page {
    padding: 20px;
    margin: 0 auto;
}

p {
   text-align: center;
}


img {
    max-width: 100%;
    margin: 0 auto;
}
form {
    width: 500px;
    margin: 0 auto;
}

.navbar-inverse .navbar-text {
    color: #FFFFFF;
}


.table th {
    color: white;
    background: #282828;
}

.btn {
    margin: 0 auto;
}

.navbar .navbar-header .navbar-brand {
    color: #FFFFFF;
}

@media screen and (max-width: 967px){
    .content {
        width: auto;
    }
}